
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scrollbar-width: smooth;
    scroll-padding-top:0px ;
    box-sizing: border-box;

}
/* variables */
:root{
    --main-color:#d90429;
    --text-color:#020102;
    --bg-color :#fff;
}
header{
    display: block;
    width:100%;
    position : fixed;
    top: 0px;
    left: 0px;
    z-index: 100px;

}
header.shadow{
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}
.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}
.logo span{
    color:var(--main-color);
}
.navbar{
    display:flex;
}